CREATE DATABASE IF NOT EXISTS {database_name};
CREATE USER IF NOT EXISTS '{database_user}'@'172.17.42.1';
ALTER USER '{database_user}'@'172.17.42.1' IDENTIFIED WITH 'mysql_native_password' AS '*AC1AB4B8B6460E4A1E0703012C062F11A064F3FC' REQUIRE NONE PASSWORD EXPIRE DEFAULT ACCOUNT UNLOCK;
GRANT ALL PRIVILEGES ON `{database_name}`.* TO '{database_user}'@'172.17.42.1';
GRANT USAGE ON *.* TO '{database_user}'@'172.17.42.1';

CREATE USER IF NOT EXISTS '{database_user}'@'172.17.0.2';
ALTER USER '{database_user}'@'172.17.0.2' IDENTIFIED WITH 'mysql_native_password' AS '*AC1AB4B8B6460E4A1E0703012C062F11A064F3FC' REQUIRE NONE PASSWORD EXPIRE DEFAULT ACCOUNT UNLOCK;
GRANT ALL PRIVILEGES ON `{database_name}`.* TO '{database_user}'@'172.17.0.2';
GRANT USAGE ON *.* TO '{database_user}'@'172.17.0.2';
