CREATE DATABASE IF NOT EXISTS {database_name};

CREATE USER IF NOT EXISTS '{database_user}'@'%';
ALTER USER '{database_user}'@'%' IDENTIFIED BY '{database_password}';
GRANT ALL PRIVILEGES ON *.* TO '{database_user}'@'%';

CREATE USER IF NOT EXISTS 'root'@'%';
ALTER USER 'root'@'%' IDENTIFIED BY '{database_password}';
GRANT ALL PRIVILEGES ON *.* TO 'root'@'%';

FLUSH PRIVILEGES;
