[client]
password = '{password}'
port    = 3306
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
no-auto-rehash

[mysqld]
port        = 3306
socket      = /tmp/mysql_5_7.sock
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
init-connect='SET NAMES utf8mb4'
ft_min_word_len=2general-log=1
general-log-file = "/var/log/mysql.queries.log"
group_concat_max_len=18446744073709551615
innodb_file_per_table
innodb_flush_method=O_DIRECT
innodb_log_file_size=1G
innodb_buffer_pool_size=4G
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1G
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 512M
query_cache_size = 16777216
lower_case_table_names=2
slow-query-log-file = /var/log/mysql/mysql-slow.log
server-id   = 1
# @see https://stackoverflow.com/a/37248560/282073
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

[mysqldump]
quick
max_allowed_packet = 2G

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
