{% apply inline_css(source('newsletter/_styles/design-tokens.html.twig')) %}
<!DOCTYPE html><html lang="fr"><head><meta charset="utf-8"><meta name="referrer" content="no-referrer"></head><body>
<table role="presentation" class="wrap" width="100%">
  <tr><td class="brand-header">{% include 'newsletter/_partials/brand-header.html.twig' %}</td></tr>
  <tr><td style="padding:16px">Votre abonnement est confirmé. Vous recevrez la prochaine édition quotidienne dans votre boîte de réception.</td></tr>
</table></body></html>
{% endapply %}
