*{
    margin:0;
    padding:0;
}

a{
    color:#8FC2FF;
    text-decoration: none;
    outline: none;
}

a:hover{
    text-decoration: underline;
}

img{
    border:none;
}

body {
    overflow:hidden;/*Needed to eliminate scrollbars*/
    background:#000;
}

#content{
    margin:0px auto;
    height:100px;
    width:100%;
    bottom:5%;
    z-index: 3;
    background:#262626 no-repeat 90%;
    border-top:1px solid #000;
    border-bottom:1px solid #4F4F4F;
    position:absolute;
}

#contentframe{
    overflow: hidden;
    border-top:solid 1px #4F4F4F;
    border-bottom:1px solid #000;
    height: 100%;
    text-align:left;
    z-index: 3;
}

#slidecounter{
    float:left;
    color:#4F4F4F;
    font:50px "Helvetica Neue", Arial, sans-serif;
    font-weight:bold;
    margin:18px 20px;	
}

#slidecaption{
    overflow: hidden;
    float:left;
    color:#FFF;
    font:26px "Helvetica Neue", Arial, sans-serif;
    font-weight:bold;
    margin:33px 0;
}

/*Supersized Stamp*/
.stamp{
    float: right;
    margin: 25px 20px 0 0;
}

/*Supersize Plugin Styles*/
#navigation{
    background: url('/images/navbg.gif') no-repeat;
    float: right;
    margin:22px 20px 0 0;
}

#loading {
    position: absolute;
    top: 49.5%; 
    left: 49.5%;
    z-index: 3;
    width: 24px; 
    height: 24px;
    text-indent: -999em;
    background-image: url('/images/progress.gif');
}

#supersize{
    position:fixed;
}

#supersize img, #supersize a{
    height:100%;
    width:100%;
    position:absolute;
    z-index: 0;
}

#supersize .prevslide, #supersize .prevslide img{
    z-index: 1;
}

#supersize .activeslide, #supersize .activeslide img{
    z-index: 2;
}