datadog.appsec.enabled      = true
date.timezone               = 'UTC';
display_errors              = on
display_startup_errors      = off
error_reporting             = 'E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED'
expose_php                  = off
extension                   = /usr/local/lib/php/extensions/no-debug-non-zts-20210902/amqp.so
html_errors                 = on
log_errors                  = on
output_buffering            = on
security.limit_extensions   = '.php'
short_open_tag              = off
;xdebug.mode                 = debug
;xdebug.start_with_request   = yes
;xdebug.log                  = /var/www/__WORKER__/var/log/xdebug.log
;xdebug.discover_client_host = yes
;zend_extension              = /usr/local/lib/php/extensions/no-debug-non-zts-20210902/xdebug.so
