{% extends "WTWUserBundle:Security:land.html.twig" %}

{% trans_default_domain "security" %}

{% block registration %}
    <h2>{{ "title_register"|trans }}</h2>
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}