# Continuous integration reports
/build/*
!/build/.gitignore

# PHP dependencies
composer.phar
composer.lock
/vendor
/bin/*

# JavaScript dependencies
bower_components/
/src/WeavingTheWeb/Bundle/DashboardBundle/Resources/public/components
.bowerrc
/node_modules

# Public assets
/web/assetic
/web/bundles
/web/css
/web/js
/web/images
