auth.json

bin/phpunit
bin/php-parse
bin/simple-phpunit

build/*
!build/.gitignore
composer.phar
provisioning/containers/mysql/templates/mysql/my.cnf
provisioning/volumes/postgres/*
provisioning/volumes/postgres*
vendor
public/graphs

/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache
/var/logs
/vendor/

/phpunit.xml
.phpunit.result.cache

public/emoji-data/
