# environment
/build/*
!/build/.gitignore

# dependencies
.bowerrc
/bin/*

bower_components/
composer.phar
/node_modules
/src/WeavingTheWeb/Bundle/DashboardBundle/Resources/public/components
/vendor

/web/assetic
/web/bundles
/web/css
/web/js
/web/images

# legacy
/mobile
/snapshots
/unit.testing/*.testing.subversion.log.php
