Options +FollowSymlinks
RewriteEngine on

# Page 404 not found
ErrorDocument       404                                             /error.404.php
 
# Basic redirect 

RewriteRule         ^index.html$                                    /index\.php                                             [NC,QSA,L]

RewriteCond         %{REQUEST_FILENAME}                             !-f
RewriteCond         %{REQUEST_URI}                                  ^/app_dev.php/(.*)
RewriteRule         ^(app_dev.php)/([^\/]*)/(.*)$                   /$2/$1                                                  [NC,QSA,L]

# API

RewriteCond         %{REQUEST_FILENAME}                             !-f
RewriteCond         %{REQUEST_URI}                                  ^/(api/)?twitter/timeline
RewriteRule         ^(?:api/)?twitter/(timeline)?/?([^\/]*)/?(1?)$  /api/api.twitter.display.wall.php?u=$2&twr=$3&res=$1    [NC,QSA,L]

RewriteCond         %{REQUEST_FILENAME}                             !-f
RewriteCond         %{REQUEST_URI}                                  ^/(api/)?twitter/
RewriteRule         ^(?:api/)?twitter/([^\/]*)/?(1?)$               /api/api.twitter.display.wall.php?u=$1&twr=$2           [NC,QSA,L]

RewriteCond         %{HTTP_HOST}                                    ^build.weaving-the-web.org
RewriteCond         %{REQUEST_URI}                                  ^/(api/)?api.twitter.display.wall.php
RewriteRule         ^(?:api/)?api.twitter.display.wall.php          /api/api.twitter.display.wall.php                       [NC,QSA,L]

# Affordances

RewriteCond         %{REQUEST_URI}                                  ^/framework/(.*)
RewriteRule         ^framework/(.*)$                                /fw/$1                                                  [NC,QSA,L]

# weaving-the-web.org

RewriteCond         %{REQUEST_URI}                                  !^/api/twitter
RewriteCond         %{REQUEST_FILENAME}                             !-f
RewriteCond         %{REQUEST_FILENAME}                             !-d                 
RewriteRule         ^(.*)$                                          /affordance.route.php                                   [NC,QSA,L]
