parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Infrastructure\\Cache\\RedisCache\:\:\$client \(Predis\\Client\) does not accept Predis\\ClientInterface\|Redis\|RedisArray\|RedisCluster\|Relay\\Cluster\|Relay\\Relay\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Infrastructure/Cache/RedisCache.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Membership/Domain/Entity/MemberTest.php

		-
			message: '#^Method Doctrine\\ORM\\EntityRepository@anonymous/tests/Security/Infrastructure/Symfony/ApiAccessTokenHandlerTest\.php\:58\:\:find\(\) is marked as impure but does not have any side effects\.$#'
			identifier: impureMethod.pure
			count: 1
			path: tests/Security/Infrastructure/Symfony/ApiAccessTokenHandlerTest.php

		-
			message: '#^Access to an undefined property App\\Membership\\Infrastructure\\Repository\\MemberRepository\:\:\$findAllCalls\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Security/Infrastructure/Symfony/BasicClientCredentialsExtractorTest.php

		-
			message: '#^Access to an undefined property App\\Membership\\Infrastructure\\Repository\\MemberRepository\:\:\$findByCalls\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Security/Infrastructure/Symfony/BasicClientCredentialsExtractorTest.php

		-
			message: '#^Access to an undefined property App\\Membership\\Infrastructure\\Repository\\MemberRepository\:\:\$findEnabledByApiKeyCalls\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Security/Infrastructure/Symfony/BasicClientCredentialsExtractorTest.php
