<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>

    <groups>
        <include>
            <group>api_access</group>
            <group>command</group>
            <group>conversation</group>
            <group>diffing</group>
            <group>formatter</group>
            <group>interruptible_collect_decider</group>
            <group>status_accessor</group>
            <group>membership</group>
            <group>member_subscribee</group>
            <group>member_subscription</group>
            <group>ownership</group>
            <group>persistence</group>
            <group>publication</group>
            <group>publication_message_dispatcher</group>
            <group>repository_publishers_list</group>
            <group>status_decoration</group>
            <group>tagged_status</group>
            <group>unavailable_resource</group>
        </include>
    </groups>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Amqp/Command/FetchMemberStatusMessageDispatcher.php</directory>
            <directory suffix=".php">src/Api/AccessToken/TokenChange.php</directory>
            <directory suffix=".php">src/Conversation/Consistency/StatusConsistency.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Status/Persistence/StatusPersistence.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Status/Persistence/PublicationPersistence.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Twitter/Api/Accessor/MemberProfileAccessor.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Twitter/Api/Accessor/OwnershipAccessor.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Twitter/Api/Normalizer/Normalizer.php</directory>
            <directory suffix=".php">src/Twitter/Infrastructure/Twitter/Collector/InterruptibleCollectDecider.php</directory>
        </whitelist>
    </filter>
</phpunit>
