{% set title = 'Export message' %}

{% extends "::base.html.twig" %}

{% block title %}Message #{{ message_id }}{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-xs-6">

                <div class="form-group">
                    <label for="header">Header</label>
                    <textarea id="header" class="form-control" name="header" rows="35">{{ header|raw }}</textarea>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" name="message" rows="35">{{ message|raw }}</textarea>
                </div>
            </div>

        </div>

    </div>

{% endblock %}