{% extends "::base.html.twig" %}

{% block title %}Body of message #{{ message_id }}{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="alert alert-success">
                {{ 'body.updated'|trans({'{{ message_id }}': message_id}, 'mail', 'en')  }}
            </div>

        </div>

    </div>

{% endblock %}