body {
    font-family: lucida grande;
    font-size: 0.8em;
    text-align: center;
}

div#content
{
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

div#content div.image
{
    margin-top: 10px;
}

div#content div.image div.image_frame
{
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    width: 1000px;
}

div.exception {
color:#f00;
float:left;
margin-bottom:10px;
margin-top:10px;
width:100%;
}

form#main_form fieldset div.field {
    float:left;
    margin-bottom:10px;
    margin-top:10px;
    text-align: left;
    width:100%;
}

div#menu_block
{
    float:left;
    left: 10px;
    position: absolute;
    text-align: left;
    width: 230px;    
}

    div#menu_block ul{
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;        
    }

div.multiupload {
border:1px outset gray;
float:left;
padding:3px;
background:#eee;
}

div.multiupload div.list {
border:1px inset gray;
background: #fff;
}

div.multiupload div.list div.item {
margin:1px;
background: #eee;
}

div.multiupload div.list div.item:hover {
background: #ccc;
}

div.multiupload div.list img {
float:left;
margin: 3px;
cursor:pointer;
}

div.month,
div.year {
width:20px;
}

div.year {
width:40px;
}

div#form_logout,
div#sign_in
{
    position: absolute;
    top: 5px;
    right: 0px;
}

div#form_logout p,
div#form_logout form
{
    float: left;
}

div#form_logout form
{
    margin-right: 5px;    
}

div#form_logout p
{
    margin-right: 5px;
    margin-top: 2px;
    padding-top: 2px;
}

div#sign_in form,
div#sign_in form div,
div#sign_in form div label,
div#sign_in form div span,
div#sign_in form div span input
{
    float:left;
}

    div#form_logout form input,
    div#sign_in form div span input
    {
        width: 100px;
    }

        div#sign_in form div span input#div_submit
        {
            padding-left: 0px;
        }

div#sign_in form div label,
div#sign_in form div span
{
    width:auto;
}

    div#sign_in form div label
    {
        padding-top: 2px;
        padding-right: 0px;
    }
    
        div#sign_in form div label#label_submit
        {
            display:none;
        }

h1.notes {
display:inline;
float:left;
font-size:0.9em;        
font-weight:normal;
margin:0;
padding:0;
}

p.notes {
float:left;
font-size:0.9em;        
margin:0px;
margin-left:10px;
padding:0px;
}

div.image div.panel_container
{
    height: 150px;
    position: relative;
    text-align: center;
}

div.image div.panel_container div.panels
{
    margin: auto;
    width: 500px;
}

div.image div.panels ul.information_panel,
div.image div.panels ul.action_panel
{
    float: left;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

    div.image div.panels ul.navigation
    {
        float: right;
    }

    div.image div.panels ul.action_panel li
    {
        float: left;
        margin-right: 7px;
    }

div.image div.panels ul.information_panel
{
    text-align: left;
    width: 100%
}

    div.image div.panels ul.information_panel li.element_keywords span.element_keywords,
    div.image div.panels ul.information_panel li.element_title span.element_title
    {
        width: auto;
    }

    div.image div.panels ul.information_panel li.date
    {
        font-size: 0.8em;
    }

form#main_form fieldset div input,
form#main_form fieldset div textarea
{
    float: left;
}

form#main_form fieldset div input
{
    border:solid 1px #000;
    font-size:1em;
    line-height:1em;
    padding:2px;
}

form#main_form fieldset div input#day,
form#main_form fieldset div input#month
{
    text-align:center;
    width:40px;
}

form#main_form fieldset div input#year {
    text-align:center;
    width:80px;        
}

form#main_form fieldset div label {
    float: left;
    font-size: 1em;
    padding: 10px;
    padding-left: 5px;
    text-align: left;
    width: 100%;
}

form#main_form fieldset div label.error {
    color: #CA0000;
}

form#main_form fieldset div label span.mandatory
{
    font-weight:bold;
    padding-right:10px;
    background: url(../images/mandatory.gif) right no-repeat;
}

form#main_form fieldset div label span
{
    float:left;
    font-size:1em;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    margin-top:0px;
    padding:0px;
    width: auto
}

form#main_form fieldset div span.month,
form#main_form fieldset div span.year
{
    float: left;
    width: auto;
}

ul li.menu_item
{
    list-style-type: none;    
}

    ul li.menu_item a,
    ul li.menu_item a:active,    
    ul li.menu_item a:hover,
    ul li.menu_item a:link,    
    ul li.menu_item a:visited
    {
        color:#000;
        text-decoration: none;
        text-transform: uppercase;
    }

form#form_sign_up {
    margin: auto;
    width: 200px;   
}

form#form_sign_up div {
    float:left;
    margin: 5px; 
}

    form#form_sign_up div.text_s {
        left:-10000px;
        position:absolute;
    }

    form#form_sign_up div span
    {
        float: left;
        margin-left: 0px;    
        padding-left: 0px;
        text-align: left;
    }
        
        form#form_sign_up div span.input
        {
            float: left;
            margin-left: 0px;    
        }
        
        form#form_sign_up div span select {
            float:left;
            height: auto;
            margin: 5px;
            margin-left: 0px;
            width: 100%; 
        }
            
            form#form_sign_up div span.mandatory,
            form#form_sign_up div span.mandatory_after_select2{
                background-image: none;
                color: #CA0000;
                font-weight: bold;
                margin: 5px;
            }