<!DOCTYPE html>
<html lang="en" ng-app="WTW">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} :: Weaving The Web experiments</title>
    {% block stylesheets %}{% include "::stylesheets.html.twig" %}{% endblock %}
    {% image 'tesseract.ico' %}
    <link rel="shortcut icon" href="{{ asset_url }}"/>
    {% endimage %}
</head>
<body>
{% block body %}{% endblock body %}
{% block javascripts %}{% include "::javascripts.html.twig" %}{% endblock javascripts %}
</body>
</html>