imports:
    - { resource: parameters/parameters_dbal.yml }
    - { resource: parameters/parameters_maintenance.yml }
    - { resource: parameters/parameters_rabbitmq.yml }
    - { resource: parameters/parameters_twitter.yml }
    - { resource: parameters/parameters_weaving_the_web.yml }

parameters:
    app_version:                0.1

    feature_toggling_search:    false

    locale:                     en

    framework_secret:           E04GDc6h5f#3glVUR6pM##VuGG&6hoD8q&WYlOBHg3wKJXfN1LqtDP&Z6pRjeaEh

    test_database_memory:       false
    test_database_path:         %kernel.cache_dir%/wtw_dashboard.db

    php_binary:                 /usr/bin/php

    # dsn can be found at https://sentry.io/weaving-the-web/press-review/getting-started/php-symfony2/
    sentry_dsn_php:             ~

    operations_skipped_after:   21:00
    operations_skipped_before:  22:30

    production_main_level:      error

    allowed.origin:             '*'
