{% extends "WTWUserBundle:Security:land.html.twig" %}

{% trans_default_domain "security" %}

{% block registration_form %}
<div class="span5">
    {% include "WTWUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock %}