{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container-fluid col-xs-4">
    <ul id="tweets" class="list-group">
        {% for tweet in tweets %}
        <li class="list-group-item tweet">{{ tweet.text|converturls }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets
        '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
        output='css/compiled/tweet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
