.ui.button {
    margin-top: 10px;
    width: 150px;
}

.ui.button.hide {
    display: none;
}

dd {
    margin-left: 5px;
}

.text {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 22px;
    width: 500px;
    white-space: pre-wrap;
}

.screen-name {
    display: block;
    padding-top: 2px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 1.25;
}