.hide {
    display: none;

}

.ui.button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
}

.ui.button.hide {
    display: none;
}

dd {
    margin-left: 5px;
}

.text {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 22px;
    width: 300px;
}

.screen-name {
    padding-top: 2px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 1.25;
}

.content p {
    margin-bottom: 0;
    margin-top: 0;
}