<div class="perspective">
    <button class="btn btn-default" type="submit"
        value="{{ 'perspective.button.export_perspective'|trans({}, 'perspective', 'en')}}">
        {{ 'perspective.button.export_perspective'|trans({}, 'perspective', 'en')}}
    </button>
    <span class="hide hash">{{ value }}</span>
</div>
