<div class="query" title="{{ value|escape }}">
    {% if columns.hid_name is defined and columns.hid_name|length > 0 %}
    <button type="button" class="btn btn-default">{{ columns.hid_name }}</button>
    {% endif %}
    {# The column value aliased with a name starting with "btn_" should be a valid SQL query #}
    <span class="sql hide">{{ value }}</span>
</div>
