<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "true"
        bootstrap                   = "autoload.php">

    <groups>
        <include>
            <group>twitter-accessor</group>
            <group>it_should_respond_with_the_latest_statuses</group>
            <group>it_should_guess_max_id</group>
            <group>it_should_serialize_a_status</group>
            <group>it_should_tell_if_serialization_limit_has_been_hit</group>
            <group>it_should_tell_if_statuses_have_been_serialized</group>
            <group>it_should_tell_if_all_available_statuses_have_been_serialized</group>
            <group>it_should_declare_members_as_whisperer_after_all_their_statuses_have_been_collected</group>
            <group>it_should_select_statuses_matching_criteria</group>
            <group>it_should_execute_a_command_selecting_statuses_matching_criteria</group>
            <group>it_should_map_a_service_to_a_collection_of_statuses</group>
            <group>it_should_execute_a_command_mapping_a_service_to_a_collection_of_statuses</group>
            <group>it_should_map_a_service_to_a_collection_of_aggregate_statuses</group>
            <group>it_should_execute_a_command_mapping_a_service_to_a_collection_of_aggregate_statuses</group>
        </include>
        <exclude>
            <group>serialize-status-command</group>
        </exclude>
    </groups>

    <testsuites>
        <testsuite name="Messaging Test Suite for Twitter">
            <directory>../src/App/Tests/**</directory>
            <directory>../src/*/*/*/*Bundle/Tests</directory>
            <directory>../src/*/*/*Bundle/Tests</directory>
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="app"/>
    </php>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*/*/*Bundle/Resources</directory>
                <directory>../src/*/*/*/*Bundle/Tests</directory>
                <directory>../src/*/*/*Bundle/Resources</directory>
                <directory>../src/*/*/*Bundle/Tests</directory>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
