
.control-group ul {
    list-style-type: none;
    margin-left: 0;
}

.sitemap h1,
.mainland h1 {
    font-size: 1.75em;
}

.mainland h2 {
    font-size: 1.5em;
}

#settings .alert {
    width: 198px;
    padding: 10px;
}