<div class="form-group">
    <label for="status-clipboard" class="control-label">External link</label>
    <input class="form-control" id="status-clipboard" type="text" />
</div>
<div class="form-group">
    <button class="btn btn-default"
            data-clipboard-action="copy"
            data-clipboard-text=""
            id="copy-status">Copy link</button>
    <button class="btn btn-default" id="export-as-csv">Export as CSV</button>
</div>
<div class="form-group">
    <div id="status" class="form-control-static"></div>
</div>
<div id="graph"></div>
