{% trans_default_domain "user" %}

{% extends "::base.html.twig" %}

{% set title = 'title_facebook_get_access_token'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if error is defined %}
            {{ 'get_access_token_unsuccessfully'|trans }}
        {% else %}
            {{ 'get_access_token_successfully'|trans }}
        {% endif %}
    </div>

{% endblock %}
