body {
background-color:#000;
float:left;
text-align:center;
margin:0px;
padding:0px;
}

form {
background-color:#fff;
margin:auto;
text-align:center;
width:600px;    
}

input {
float:right;
height:100%;
width:50%;
}

label {
float:left;
height:10px;
margin-left:10px;
padding-top:2px;
text-align:left;
width:45%;        
}

select {
float:right;
width:100%;
width:50%;
}

div#answer {
background:#fff;
float:left;
margin:auto;
padding-bottom:10px;
padding-top:10px;
text-align:left;
width:1024px;    
}

input#button-search {
margin:auto;
margin-bottom:5px;
margin-top:5px;
width:auto;
}

div.album {
float:left;
margin-top:30px;
margin-bottom:30px;
width:100%;
}

div.field {
float:left;
margin:auto;
margin-bottom:5px;
width:75%;
}

div.even {
background-color:#dce3f1;    
}

div.fields {
margin:auto;
width:80%;
}

div#main-block {
background-color:#000;
float:left;
margin:0px;
padding:20px;
width:100%;
}

div#member-list {
display:block;
float:left;    
}

div.submission-box {
float:left;
height:20px;
margin:auto;
margin-top:10px;
text-align:center;
width:200px;
}

div.input-style,
div.select-style {
width:100%;
}

li.member {
float:left;
width:100%;       
}