{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
    <div>
    <script type="text/javascript">
        partials = "{{ asset('bundles/weavingthewebdashboard/wtw/partials/') }}";
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/components/angular/angular.min.js'
        '@WeavingTheWebDashboardBundle/Resources/public/wtw/js/app.js'
        '@WeavingTheWebDashboardBundle/Resources/public/wtw/js/services.js'
        '@WeavingTheWebDashboardBundle/Resources/public/wtw/js/controllers.js'
        '@WeavingTheWebDashboardBundle/Resources/public/wtw/js/filters.js'
        '@WeavingTheWebDashboardBundle/Resources/public/wtw/js/directives.js'
        output='js/compiled/main_angular.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
