#!/bin/bash

export MYSQL_DATABASE_DEV='devobs_dev'
export MYSQL_DATABASE_TEST='devobs_test'

export MYSQL_ADMIN_USER='root'
export MYSQL_ADMIN_PASSWORD='ees\)~JIGP0iB\)3jD9\<'

export MYSQL_DEFAULT_USER='default'
export MYSQL_DEFAULT_PASSWORD='r\>\$\$#F\)D=*NchQVz*@.x'

export MYSQL_TEST_USER='tester'
export MYSQL_TEST_PASSWORD='ly\&r{tKh-65Zvi+9S%%d'

export RABBITMQ_USER='default'
export RABBITMQ_PASSWORD='eyLDwgkwQnoN'

export FRAMEWORK_SECRET='~p^o4O?/vil\)tL^oqJkE+DHB~?OE/Or%%J\"=\|P7fm'
export QUALITY_ASSURANCE_PASSWORD='gid}\hx#wcJ9}@%%An+=F5]Ou\>^\$Bur'

export SYMFONY__AES__KEY='_'
export SYMFONY__AES__IV='_'
export SYMFONY__ANALYTICS__HOST="_"
export SYMFONY__ANALYTICS__SITE_ID="_"
export SYMFONY__ASSETIC__NODE="/home/vagrant/.nvm/versions/node/v4.2.2/bin/node"
export SYMFONY__ASSETIC__MODULES="/home/vagrant/.nvm/versions/node/v4.2.2/lib/node_modules"
export SYMFONY__APC__HOST="http://127.0.0.1"
export SYMFONY__API__FACEBOOK__APP_ID="_"
export SYMFONY__API__FACEBOOK__APP_SECRET="_"
export SYMFONY__API__FACEBOOK__PROTOCOL="http://"
export SYMFONY__API__FACEBOOK__HOST_PORT="127.0.0.1"
export SYMFONY__API__TWITTER__HOST_PORT=start.weaving-the-web.org
export SYMFONY__API__TWITTER__PROTOCOL=https://
export SYMFONY__API__TWITTER__CONSUMER_KEY="_"
export SYMFONY__API__TWITTER__CONSUMER_SECRET="_"
export SYMFONY__API__TWITTER__CALLBACK_URL="http://10.9.8.2/twitter/login_connect"
export SYMFONY__API__TWITTER__USER_TOKEN=""
export SYMFONY__API__TWITTER__USER_SECRET="_"
export SYMFONY__API__TWITTER__VERSION=1.1
export SYMFONY__ELASTICSEARCH__HOST="127.0.0.1"
export SYMFONY__ELASTICSEARCH__PORT="9200"
export SYMFONY__FRAMEWORK__SECRET=$FRAMEWORK_SECRET
export SYMFONY__IMAP__USERNAME="_"
export SYMFONY__IMAP__PASSWORD="_"
export SYMFONY__MYSQL__DATABASE=$MYSQL_DATABASE_DEV
export SYMFONY__MYSQL__USER=$MYSQL_DEFAULT_USER
export SYMFONY__MYSQL__PASSWORD=$MYSQL_DEFAULT_PASSWORD
export SYMFONY__MYSQL__HOST="127.0.0.1"
export SYMFONY__MYSQL__PORT="3306"
export SYMFONY__MYSQL__DATABASE_READ=$MYSQL_DATABASE_DEV
export SYMFONY__MYSQL__USER_READ=$MYSQL_DEFAULT_USER
export SYMFONY__MYSQL__PASSWORD_READ=$MYSQL_DEFAULT_PASSWORD
export SYMFONY__MYSQL__HOST_READ="127.0.0.1"
export SYMFONY__MYSQL__PORT_READ="3306"
export SYMFONY__MYSQL__DATABASE_WRITE=$MYSQL_DATABASE_DEV
export SYMFONY__MYSQL__USER_WRITE=$MYSQL_DEFAULT_USER
export SYMFONY__MYSQL__PASSWORD_WRITE=$MYSQL_DEFAULT_PASSWORD
export SYMFONY__MYSQL__HOST_WRITE="127.0.0.1"
export SYMFONY__MYSQL__PORT_WRITE="3306"
export SYMFONY__MYSQL__TEST_DATABASE=$MYSQL_DATABASE_TEST
export SYMFONY__MYSQL__TEST_USER=$MYSQL_TEST_USER
export SYMFONY__MYSQL__TEST_PASSWORD=$MYSQL_TEST_PASSWORD
export SYMFONY__MYSQL__ADMIN_USER=$MYSQL_ADMIN_USER
export SYMFONY__MYSQL__ADMIN_PASSWORD=$MYSQL_ADMIN_PASSWORD
export SYMFONY__OAUTH__CLIENT_ID='_'
export SYMFONY__OAUTH__CLIENT_SECRET='_'
export SYMFONY__OAUTH__ACCESS_TOKEN='_'
export SYMFONY__QUALITY_ASSURANCE__PASSWORD=$QUALITY_ASSURANCE_PASSWORD
export SYMFONY__RABBITMQ__USER=$RABBITMQ_USER
export SYMFONY__RABBITMQ__PASSWORD=$RABBITMQ_PASSWORD
export SYMFONY__RABBITMQ__HOST="127.0.0.1"
export SYMFONY__RABBITMQ__VHOST="/"

unset FRAMEWORK_SECRET
unset MYSQL_DATABASE
unset MYSQL_ADMIN_USER
unset MYSQL_ADMIN_PASSWORD
unset MYSQL_DEFAULT_USER
unset MYSQL_DEFAULT_PASSWORD
unset RABBITMQ_USER
unset RABBITMQ_PASSWORD
unset QUALITY_ASSURANCE_PASSWORD
