<div class="span12">
    <table class="table table-condensed">
        <tr ng-repeat="tweet in tweets">
            <td>
                <dl class="dl-horizontal" id="{{ tweet.status_id }}">
                    <dd>
                        <img ng-src="{{ tweet.author_avatar|strict_https }}" alt="https://twitter.com/{{ tweet.screen_name }}" />
                        <a class="screen-name" href="http://twitter.com/{{ tweet.screen_name }}"><strong>@{{ tweet.screen_name }}</strong></a>
                    </dd>
                    <dd class="text" parse-url="props" ng-model="tweet">{{ tweet.text }}</dd>
                </dl>
            </td>
        </tr>
    </table>
</div>
