<div class="span12" ng-controller="SyncTweetsStarringStatusAction">
    <ul ng-repeat="error in errors">
        <li>{{ error }}</li>
    </ul>
    <button class="ui button" ng-class="{true: 'hide', false: ''}[synced]" ng-click="sync()">
        Sync<span ng-if="synced">ed</span>
    </button>
</div>
<div class="span12" ng-controller="ShowTweetsAction">
    <table class="table table-condensed">
        <tr ng-repeat="tweet in tweets">
            <td>
                <dl class="dl-horizontal" id="{{ tweet.status_id }}">
                    <dd>
                        <img ng-src="{{ tweet.author_avatar }}" alt="http://twitter.com/{{ tweet.screen_name }}" />
                        <a class="screen-name" href="http://twitter.com/{{ tweet.screen_name }}"><strong>@{{ tweet.screen_name }}</strong></a>
                    </dd>
                    <dd class="text" parse-url="props" ng-model="tweet">{{ tweet.text }}</dd>
                    <dd>
                        <button class="ui button" ng-class="{true: 'hide', false: ''}[tweet.starred]" ng-click="star(tweet.status_id, $index)">
                            Star<span ng-if="tweet.starred">red</span>
                        </button>
                        <button class="ui button" ng-class="{true: '', false: 'hide'}[tweet.starred]" ng-click="unstar(tweet.status_id, $index)">
                            Unstar<span ng-if="!tweet.starred">red</span>
                        </button>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    <div ng-model="tweets">
    </div>
</div>

