{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12 navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#/github-repositories">Github Repositories</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-view></div>
        </div>
    <div>
    <script type="text/javascript">
        partials = "{{ asset('bundles/wtwdashboard/wtw/partials/') }}";
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WTWDashboardBundle/Resources/public/wtw/lib/angular/angular.js'
        '@WTWDashboardBundle/Resources/public/wtw/js/app.js'
        '@WTWDashboardBundle/Resources/public/wtw/js/services.js'
        '@WTWDashboardBundle/Resources/public/wtw/js/controllers.js'
        '@WTWDashboardBundle/Resources/public/wtw/js/filters.js'
        '@WTWDashboardBundle/Resources/public/wtw/js/directives.js'
        output='js/compiled/main_angular.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}