date.timezone               = 'UTC';
datadog.appsec.enabled      = true
display_errors              = off
display_startup_errors      = off
error_reporting             = 'E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED'
expose_php                  = off
extension                   = '/usr/local/lib/php/extensions/no-debug-non-zts-20210902/ddtrace.so'
log_errors                  = on
log_errors_max_len          = 1024
html_errors                 = on
output_buffering            = on
;xdebug.discover_client_host=yes
;xdebug.log=/var/www/revue-de-presse.org/var/log/xdebug.log
;xdebug.mode=debug
;xdebug.start_with_request=yes
;zend_extension=/usr/local/lib/php/extensions/no-debug-non-zts-20210902/xdebug.so
