[press_review]

access.log                      = /proc/self/fd/1
prefix                          = /var/www/revue-de-presse.org/public

user                            = __UID__
group                           = __GID__

listen                          = /var/www/revue-de-presse.org/var/run/__SOCK__.sock


listen.owner                    = __UID__
listen.group                    = __GID__
listen.mode                     = 0660




pm                              = dynamic
pm.max_children                 = 300
pm.start_servers                = 300
pm.min_spare_servers            = 150
pm.max_spare_servers            = 300
pm.max_requests                 = 300
pm.status_path                  = /status

php_admin_value[memory_limit]   = 64M

pm.status_path                  = /status

php_admin_value[error_log]      = /var/www/revue-de-presse.org/var/log/fpm.revue-de-presse.org.log
php_admin_flag[log_errors]      = on

clear_env                       = no
catch_workers_output            = yes
decorate_workers_output         = no
