[global]
error_log                               = /var/www/revue-de-presse.org/var/log/php-fpm.error.log

[revue_de_presse_org]
access.log                              = /proc/self/fd/2

catch_workers_output                    = yes
clear_env                               = no
decorate_workers_output                 = no

user                                    = __UID__
group                                   = __GID__

listen                                  = /var/www/revue-de-presse.org/var/run/__SOCK__.sock

listen.group                            = __GID__
listen.mode                             = 0660
listen.owner                            = __UID__

php_admin_flag[display_errors]          = off
php_admin_flag[display_startup_errors]  = off
php_admin_flag[html_errors]             = on
php_admin_flag[log_errors]              = on

php_admin_value[error_reporting]        = 'E_ALL & ~E_DEPRECATED & ~E_USER_DEPRECATED'
php_admin_value[memory_limit]           = 64M
php_admin_value[error_log]              = /var/www/revue-de-presse.org/var/log/php.revue-de-presse.org.log

ping.path                               = /ping

pm                                      = dynamic
pm.max_children                         = 300
pm.min_spare_servers                    = 150
pm.max_spare_servers                    = 300
pm.max_requests                         = 300
pm.start_servers                        = 300
pm.status_path                          = /status

prefix                                  = /var/www/revue-de-presse.org/public
