CREATE DATABASE IF NOT EXISTS {database_name};
CREATE USER '{database_user}'@'{gateway}';
ALTER USER '{database_user}'@'{gateway}' IDENTIFIED BY '{database_password}';
GRANT ALL PRIVILEGES ON `{database_name}`.* TO '{database_user}'@'{gateway}';
GRANT USAGE, ALTER ON *.* TO '{database_user}'@'{gateway}';
