parameters:
    api_facebook_host_port:                 %api.facebook.protocol%%api.facebook.host_port%

    api_github_host_port:                   %api.github.protocol%%api.github.host_port%

    api_google_drive_api_key:               ## FILL ME ##
    api_google_drive_client_id:             %api.google_drive.client_id%
    api_google_drive_client_secret:         %api.google_drive.client_secret%
    api_google_drive_redirect_uri:          %api.google_drive.redirect_uri%

    api_twitter_consumer_key:               %api.twitter.consumer_key%
    api_twitter_consumer_secret:            %api.twitter.consumer_secret%
    api_twitter_callback_url:               %api.twitter.callback_url%
    api_twitter_host_port:                  %api.twitter.protocol%%api.twitter.host_port%
    api_twitter_version:                    1.1
    api_twitter_user_token:                 %api.twitter.user_token%
    api_twitter_user_secret:                %api.twitter.user_secret%

    api_wtw_repositories_items_per_page:    30
    api_wtw_repositories_user_name:         adama
    api_wtw_repositories_password:          ## FILL ME ##

    assetic_node:           %assetic.node%
    assetic_node_module:    %assetic.modules%

    bower_binary:           /opt/local/nodejs/lib/node_modules/bower/bin/bower
    bower_endpoint:         https://bower.herokuapp.com

    database_charset:  UTF8
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     3306
    database_name:     %mysql.database%
    database_user:     %mysql.user%
    database_password: %mysql.password%

    database_charset_test:  UTF8
    database_driver_test:   pdo_mysql
    database_host_test:     localhost
    database_port_test:     3308
    database_name_test:     %mysql.test_database%
    database_user_test:     %mysql.test_user%
    database_password_test: %mysql.test_password%

    database_charset_admin:  UTF8
    database_driver_admin:   pdo_mysql
    database_host_admin:     localhost
    database_port_admin:     3308
    database_name_admin:     %mysql.database%
    database_user_admin:     ## FILL ME ##
    database_password_admin: %mysql.admin_password%

    endpoint_facebook_feed:         %api_facebook_host_port%/api/facebook/api.facebook.get.feed.php
    endpoint_github_redirect:       %api_github_host_port%/github/request
    endpoint_twitter_feed:          %api_twitter_host_port%/api/api.twitter.display.wall.php?twr=1&res=timeline
    endpoint_twitter_user:          https://userstream.twitter.com/%s/user.json

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ## FILL ME ##

    test_database_memory: false
    test_database_path:   %kernel.cache_dir%/## FILL ME ##

    tokenization_sandbox:           %metaprogramming.sandbox%

