{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="span12">
        <table class="table">
            <tr><td>{{ today }}</td></tr>
            <tr>
                {% include 'WeavingTheWebDashboardBundle:Inspiration:itemOfTheDay.html.twig' with { collection: quoteOfTheDay } %}
            </tr>
            <tr>
                {% include 'WeavingTheWebDashboardBundle:Inspiration:itemOfTheDay.html.twig' with { collection: sayingOfTheDay } %}
            </tr>
        </table>
    </div>
{% endblock %}
