
textarea {
    height: 150px;
    width: 700px;
}

pre {
    cursor: pointer;
}

.shorten {
    cursor: pointer;
}

.connect-to-twitter {
    margin-top: 10px;
}

#file-upload p {
    display: flex;
    justify-content: center;
    width: 700px;
}

#file-upload form {
    margin-bottom: 15px;
    width: 700px;
}