[program:handle_news_messages]
command=/bin/bash -c 'export PROJECT_NAME=press-review && cd /data/repositories/press-review && make handle-news-messages'
numprocs=8
numprocs_start=0
process_name=%(program_name)s_%(process_num)02d
priority=999
autostart=true
autorestart=true
startsecs=1
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
killasgroup=false
user=weaver
redirect_stderr=false
stdout_logfile=/data/repositories/press-review/var/logs/consume_twitter_api.out
stdout_logfile_maxbytes=250MB
stdout_logfile_backups=10
stderr_logfile=/data/repositories/press-review/var/logs/consume_twitter_api.err
stderr_logfile_maxbytes=250MB
stderr_logfile_backups=10
environment=MEMORY_LIMIT=128M,MESSAGES=500,TIME_LIMIT=300,PROJECT_DIR="/data/repositories/press-review"
