{% extends '::base.html.twig' %}

{% block title %}{{ 'remote.settings.title'|trans({}, 'remote') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-6">
            {% block add_remote %}{% endblock %}
            {% block select_remote %}
                {% embed 'WeavingTheWebDashboardBundle:Settings/Remote/Select:_form.html.twig' %}{% endembed %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
