APP_ENV=test
APP_SECRET=_APP_SECRET_

DATABASE_URL=mysql://root:_PASS_@127.0.0.1:3306/test?serverVersion=5.7
DATABASE_WRITE_URL=mysql://root:_PASS_@127.0.0.1:3306/test?serverVersion=5.7

MESSENGER_TRANSPORT_DSN_FAILURES=amqp://guest:guest@127.0.0.1:5672/%2f/failures
MESSENGER_TRANSPORT_DSN_STATUS=amqp://guest:guest@127.0.0.1:5672/%2f/get-news-status
MESSENGER_TRANSPORT_DSN_LIKES=amqp://guest:guest@127.0.0.1:5672/%2f/get-news-likes

API_TWITTER_VERSION=1.1

API_TWITTER_CONSUMER_KEY=''
API_TWITTER_CONSUMER_SECRET=''

API_TWITTER_USER_TOKEN=''
API_TWITTER_USER_SECRET=''

OPERATIONS_SKIPPED_AFTER=12:00
OPERATIONS_SKIPPED_BEFORE=11:30

ADMIN_ROUTE_NAME=''

ALLOWED_ORIGIN='*'

HIGHLIGHT_AGGREGATE_DEFAULT=''

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

FIREBASE_SERVICE_ACCOUNT_CONFIG=''
FIREBASE_DATABASE_URI=''
