APP_ENV=test
APP_SECRET=64ba62c3b4d48062948d77bc9b7a224f

###> doctrine/doctrine-bundle ###
# MySQL database password is injected by codeship
DATABASE_URL=mysql://root:${MYSQL_PASSWORD}@127.0.0.1:3306/test?serverVersion=5.7
DATABASE_WRITE_URL=mysql://root:${MYSQL_PASSWORD}@127.0.0.1:3306/test?serverVersion=5.7
###< doctrine/doctrine-bundle ###

MESSENGER_TRANSPORT_DSN_FAILURES=amqp://guest:guest@127.0.0.1:5672/%2f/failures
MESSENGER_TRANSPORT_DSN_STATUS=amqp://guest:guest@127.0.0.1:5672/%2f/get-news-status
MESSENGER_TRANSPORT_DSN_LIKES=amqp://guest:guest@127.0.0.1:5672/%2f/get-news-likes

API_TWITTER_VERSION=1.1

API_TWITTER_CONSUMER_KEY=''
API_TWITTER_CONSUMER_SECRET=''

API_TWITTER_USER_TOKEN=''
API_TWITTER_USER_SECRET=''

OPERATIONS_SKIPPED_AFTER=12:00
OPERATIONS_SKIPPED_BEFORE=11:30

ADMIN_ROUTE_NAME=''

ALLOWED_ORIGIN='*'

HIGHLIGHT_AGGREGATE_DEFAULT=''

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

VALID_AUDIENCE=''
AUTHORIZED_ISS=''

FIREBASE_SERVICE_ACCOUNT_CONFIG=''
FIREBASE_DATABASE_URI=''