version: '3'
services:

    reverse-proxy:
        networks:
            journaliste-feministe-network:
                aliases:
                    - reverse-proxy

    web:
        networks:
            journaliste-feministe-network:
                aliases:
                    - web

    web-worker:
        networks:
            journaliste-feministe-network:
                aliases:
                    - web-worker

    worker:
        networks:
            journaliste-feministe-network:
                aliases:
                    - worker

    database:
        ports:
            - "127.0.0.1:5433:5432"
        networks:
            journaliste-feministe-network:
                aliases:
                    - database

    cache:
        networks:
            journaliste-feministe-network:
                aliases:
                    - cache

    messenger:
        networks:
            journaliste-feministe-network:
                aliases:
                    - messenger

networks:
    journaliste-feministe-network:
        driver: bridge
        ipam:
            config:
                - ip-range: 192.168.196.0/28
                  subnet: 192.168.196.0/28
                  gateway: 192.168.196.1

