x-volumes: &app-volume
  volumes:
    - '../../:/var/www/revue-de-presse.org'

services:

#  amqp:
#    volumes:

  app:
    <<: *app-volume

#  database:
#    ports:
#      - "127.0.0.1:5434:5432"
#    volumes:

  process-manager:
    <<: *app-volume

  worker:
    <<: *app-volume

networks:
  default:
    # [Use a pre-existing network](https://docs.docker.com/compose/networking/#use-a-pre-existing-network)
    name: # external-network-name
