services:

  app:
    volumes:
      - '../../:/var/www/org.example.api/'
      - '../../../shared/emoji-data/:/var/www/org.example.api/public/emoji-data/'

  service:
    volumes:
      - '../../:/var/www/org.example.api/'
      - '../../../shared/emoji-data/:/var/www/org.example.api/public/emoji-data/'
      - 'service-run:/var/www/org.example.api/var/run'

volumes:
  service-run:
    name: org_example_api_service-run

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 192.169.195.0/28
          gateway: 192.169.195.1

#  default:
#    # [How to use some pre-existing network?](https://docs.docker.com/compose/networking/#use-a-pre-existing-network)
#    name: # external-network-name
#    external: true
