{% extends "::base.html.twig" %}

{% trans_default_domain "security" %}

{% if not title is defined  %}
{% set title = 'title_homepage' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ title|trans }}{% endblock %}

{# Hide login link on landing page #}
{% block navigation_login %}{% endblock %}

{% block body %}
    <div class="container mainland">
        <div class="span11">
            <div class="offset1">
                <h1>{% block main_title %}{{ title|trans }}{% endblock main_title %}</h1>
            </div>

            {% for type, messages in app.session.flashbag.all() %}
                <div class="alert alert-info offset1 span7">
                {% for message in messages %}
                {{ message|nl2br }}
                {% endfor %}
                </div>
            {% endfor %}

            {% block confirmed_registration %}{% endblock %}

            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% block login_form %}
                    {% embed 'WTWUserBundle:Security:login_form_standalone.html.twig' %}{% endembed %}
                {% endblock %}

                {% block registration_form %}{% endblock %}
            {% endif %}
        </div>
    <div>
{% endblock %}